<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/photoswipe.css">
  <link rel="stylesheet" href="/stylesheets/default-skin/default-skin.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">

  <script src="/javascripts/jquery-2.1.4.min.js"></script>
  <script src="/javascripts/photoswipe.min.js"></script>
  <script src="/javascripts/photoswipe-ui-default.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
  <%= yield %>
</body>
